In [1]:
import numpy as np
import pandas as pd

In [2]:
farmacos = pd.read_csv("EDA_Industrializados_202110.csv", sep=";", encoding="latin1")

In [3]:
farmacos.head(2)

,ANO_VENDA,MES_VENDA,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,DESCRICAO_APRESENTACAO,QTD_VENDIDA,UNIDADE_MEDIDA,CONSELHO_PRESCRITOR,UF_CONSELHO_PRESCRITOR,TIPO_RECEITUARIO,CID10,SEXO,IDADE,UNIDADE_IDADE
0,2021,10,SP,IGARAÇU DO TIETÊ,CELECOXIBE,200 MG CAP DURA CT BL AL PLAS PVC/PCTFE TRANS ...,14,CAIXA,CRM,SP,1.0,NaN,NaN,NaN,NaN
1,2021,10,SP,IGARAÇU DO TIETÊ,CELECOXIBE,200 MG CAP DURA CT BL AL PLAS PVC/PCTFE TRANS ...,1,CAIXA,CRM,SP,5.0,NaN,1.0,56.0,1.0

In [4]:
farmacos.describe()

,ANO_VENDA,MES_VENDA,QTD_VENDIDA,TIPO_RECEITUARIO,SEXO,IDADE,UNIDADE_IDADE
count,5989708.0,5989708.0,5.989708e+06,5.989708e+06,4.285276e+06,4.285276e+06,4.285276e+06
mean,2021.0,10.0,5.534829e+00,3.624664e+00,1.554298e+00,4.139040e+01,1.016557e+00
std,0.0,0.0,8.941821e+02,1.821485e+00,4.970430e-01,3.785119e+01,1.276041e-01
min,2021.0,10.0,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00
25%,2021.0,10.0,1.000000e+00,1.000000e+00,1.000000e+00,2.500000e+01,1.000000e+00
50%,2021.0,10.0,1.000000e+00,5.000000e+00,2.000000e+00,3.900000e+01,1.000000e+00
75%,2021.0,10.0,3.000000e+00,5.000000e+00,2.000000e+00,5.600000e+01,1.000000e+00
max,2021.0,10.0,1.440897e+06,5.000000e+00,2.000000e+00,9.990000e+02,2.000000e+00

In [5]:
filtro_1 = farmacos.filter(["UF_VENDA", "MUNICIPIO_VENDA", "PRINCIPIO_ATIVO", "QTD_VENDIDA", "IDADE"])

In [6]:
filtro_1.head(5)

  UF_VENDA   MUNICIPIO_VENDA PRINCIPIO_ATIVO  QTD_VENDIDA  IDADE
0       SP  IGARAÇU DO TIETÊ      CELECOXIBE           14    NaN
1       SP  IGARAÇU DO TIETÊ      CELECOXIBE            1   56.0
2       SP  IGARAÇU DO TIETÊ      CELECOXIBE            3    NaN
3       SP  IGARAÇU DO TIETÊ      CELECOXIBE            1    NaN
4       SP  IGARAÇU DO TIETÊ      CELECOXIBE            3    NaN

In [7]:
juncao_1 = filtro_1.groupby(["UF_VENDA", "MUNICIPIO_VENDA", "PRINCIPIO_ATIVO"]).sum()

In [8]:
juncao_1 = juncao_1.reset_index()

In [9]:
juncao_1

,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,QTD_VENDIDA,IDADE
0,AC,ACRELÂNDIA,ALPRAZOLAM,7,0.0
1,AC,ACRELÂNDIA,AMOXICILINA,41,1180.0
2,AC,ACRELÂNDIA,AMOXICILINA + CLAVULANATO DE POTÁSSIO,29,908.0
3,AC,ACRELÂNDIA,AMOXICILINA TRI-HIDRATADA,19,657.0
4,AC,ACRELÂNDIA,AMOXICILINA TRI-HIDRATADA + CLARITROMICINA + E...,2,89.0
...,...,...,...,...,...
502361,TO,XAMBIOÁ,SUCCINATO DE DESVENLAFAXINA MONOIDRATADO,4,0.0
502362,TO,XAMBIOÁ,SULFADIAZINA DE PRATA,1,59.0
502363,TO,XAMBIOÁ,SULFAMETOXAZOL + TRIMETOPRIMA,12,372.0
502364,TO,XAMBIOÁ,TOBRAMICINA,4,81.0
502365,TO,XAMBIOÁ,ÁCIDO VALPRÓICO + VALPROATO DE SÓDIO,3,0.0

In [10]:
juncao_1["QTD_VENDIDA"].max()

1440990

In [11]:
idmax = juncao_1["QTD_VENDIDA"].idxmax()
juncao_1.loc[idmax]

UF_VENDA                                   RS
MUNICIPIO_VENDA                   TUPANCIRETÃ
PRINCIPIO_ATIVO    HEMIFUMARATO DE QUETIAPINA
QTD_VENDIDA                           1440990
IDADE                                   446.0
Name: 380757, dtype: object

# Geral
* Principais principios ativos do pais (QTD TOTAL / Principio)
* Faixa etaria dos compradores (20 - 30 - 40..) / medicamento mais comprado
* Estado que mais vende medicamentos 

* Municipios que mais vende medicamentos / estado
* Principais principios ativos por estado
* Faixa etaria dos compradores (20 - 30 - 40..) / medicamento mais comprado

In [20]:
filtro_2 = juncao_1.query("UF_VENDA == 'SP'")

In [21]:
filtro_2

,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,QTD_VENDIDA,IDADE
420720,SP,ADAMANTINA,ACETATO DE RETINOL + AMINOÁCIDOS + CLORANFENIC...,15,366.0
420721,SP,ADAMANTINA,ACETONIDA DE TRIANCINOLONA + GRAMICIDINA + NIS...,1,53.0
420722,SP,ADAMANTINA,ADAPALENO + FOSFATO DE CLINDAMICINA,1,43.0
420723,SP,ADAMANTINA,AGOMELATINA,1,0.0
420724,SP,ADAMANTINA,ALPRAZOLAM,752,0.0
...,...,...,...,...,...
497129,SP,ÓLEO,HIDROCORTISONA + SULFATO DE NEOMICINA + SULFAT...,1,25.0
497130,SP,ÓLEO,LEVETIRACETAM,8,0.0
497131,SP,ÓLEO,NORFLOXACINO,1,68.0
497132,SP,ÓLEO,OXALATO DE ESCITALOPRAM,1,0.0
497133,SP,ÓLEO,PREGABALINA,10,0.0

In [27]:
soma = filtro_2.groupby(["MUNICIPIO_VENDA", "PRINCIPIO_ATIVO"]).sum()

C:\Users\Diullio\AppData\Local\Temp/ipykernel_2548/604943735.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  soma = filtro_2.groupby(["MUNICIPIO_VENDA", "PRINCIPIO_ATIVO"]).sum()

In [28]:
soma

                                                                    QTD_VENDIDA  \
MUNICIPIO_VENDA PRINCIPIO_ATIVO
ADAMANTINA      ACETATO DE RETINOL + AMINOÁCIDOS + CLORANFENICO...           15
                ACETONIDA DE TRIANCINOLONA + GRAMICIDINA + NIST...            1
                ADAPALENO + FOSFATO DE CLINDAMICINA                           1
                AGOMELATINA                                                   1
                ALPRAZOLAM                                                  752
...                                                                         ...
ÓLEO            HIDROCORTISONA + SULFATO DE NEOMICINA + SULFATO...            1
                LEVETIRACETAM                                                 8
                NORFLOXACINO                                                  1
                OXALATO DE ESCITALOPRAM                                       1
                PREGABALINA                                                  10

                                                                    IDADE
MUNICIPIO_VENDA PRINCIPIO_ATIVO
ADAMANTINA      ACETATO DE RETINOL + AMINOÁCIDOS + CLORANFENICO...  366.0
                ACETONIDA DE TRIANCINOLONA + GRAMICIDINA + NIST...   53.0
                ADAPALENO + FOSFATO DE CLINDAMICINA                  43.0
                AGOMELATINA                                           0.0
                ALPRAZOLAM                                            0.0
...                                                                   ...
ÓLEO            HIDROCORTISONA + SULFATO DE NEOMICINA + SULFATO...   25.0
                LEVETIRACETAM                                         0.0
                NORFLOXACINO                                         68.0
                OXALATO DE ESCITALOPRAM                               0.0
                PREGABALINA                                           0.0

[76414 rows x 2 columns]

In [29]:
soma["QTD_VENDIDA"].max()

722170

In [30]:
soma["QTD_VENDIDA"].idxmax()

('SOROCABA', 'DECANOATO DE NANDROLONA')

In [98]:
soma["QTD_VENDIDA"].max()

2305304

In [99]:
soma.idxmax()

QTD_VENDIDA    HEMIFUMARATO DE QUETIAPINA
dtype: object