In [1]:
import numpy as np
import pandas as pd

In [3]:
farmacos = pd.read_csv("EDA_Industrializados_202110.csv", sep=";", encoding="latin1")

In [10]:
farmacos.head(2)

,ANO_VENDA,MES_VENDA,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,DESCRICAO_APRESENTACAO,QTD_VENDIDA,UNIDADE_MEDIDA,CONSELHO_PRESCRITOR,UF_CONSELHO_PRESCRITOR,TIPO_RECEITUARIO,CID10,SEXO,IDADE,UNIDADE_IDADE
0,2021,10,SP,IGARAÇU DO TIETÊ,CELECOXIBE,200 MG CAP DURA CT BL AL PLAS PVC/PCTFE TRANS ...,14,CAIXA,CRM,SP,1.0,NaN,NaN,NaN,NaN
1,2021,10,SP,IGARAÇU DO TIETÊ,CELECOXIBE,200 MG CAP DURA CT BL AL PLAS PVC/PCTFE TRANS ...,1,CAIXA,CRM,SP,5.0,NaN,1.0,56.0,1.0

In [4]:
farmacos.describe()

,ANO_VENDA,MES_VENDA,QTD_VENDIDA,TIPO_RECEITUARIO,SEXO,IDADE,UNIDADE_IDADE
count,5989708.0,5989708.0,5.989708e+06,5.989708e+06,4.285276e+06,4.285276e+06,4.285276e+06
mean,2021.0,10.0,5.534829e+00,3.624664e+00,1.554298e+00,4.139040e+01,1.016557e+00
std,0.0,0.0,8.941821e+02,1.821485e+00,4.970430e-01,3.785119e+01,1.276041e-01
min,2021.0,10.0,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00
25%,2021.0,10.0,1.000000e+00,1.000000e+00,1.000000e+00,2.500000e+01,1.000000e+00
50%,2021.0,10.0,1.000000e+00,5.000000e+00,2.000000e+00,3.900000e+01,1.000000e+00
75%,2021.0,10.0,3.000000e+00,5.000000e+00,2.000000e+00,5.600000e+01,1.000000e+00
max,2021.0,10.0,1.440897e+06,5.000000e+00,2.000000e+00,9.990000e+02,2.000000e+00

In [22]:
filtro_1 = farmacos.filter(["UF_VENDA", "MUNICIPIO_VENDA", "PRINCIPIO_ATIVO", "QTD_VENDIDA"])

In [23]:
filtro_1.head(5)

  UF_VENDA   MUNICIPIO_VENDA PRINCIPIO_ATIVO  QTD_VENDIDA
0       SP  IGARAÇU DO TIETÊ      CELECOXIBE           14
1       SP  IGARAÇU DO TIETÊ      CELECOXIBE            1
2       SP  IGARAÇU DO TIETÊ      CELECOXIBE            3
3       SP  IGARAÇU DO TIETÊ      CELECOXIBE            1
4       SP  IGARAÇU DO TIETÊ      CELECOXIBE            3

In [26]:
juncao_1 = filtro_1.groupby(["UF_VENDA", "MUNICIPIO_VENDA", "PRINCIPIO_ATIVO"]).sum()

In [27]:
juncao_1

                                                                             QTD_VENDIDA
UF_VENDA MUNICIPIO_VENDA PRINCIPIO_ATIVO
AC       ACRELÂNDIA      ALPRAZOLAM                                                    7
                         AMOXICILINA                                                  41
                         AMOXICILINA + CLAVULANATO DE POTÁSSIO                        29
                         AMOXICILINA TRI-HIDRATADA                                    19
                         AMOXICILINA TRI-HIDRATADA + CLARITROMICINA + ES...            2
...                                                                                  ...
TO       XAMBIOÁ         SUCCINATO DE DESVENLAFAXINA MONOIDRATADO                      4
                         SULFADIAZINA DE PRATA                                         1
                         SULFAMETOXAZOL + TRIMETOPRIMA                                12
                         TOBRAMICINA                                                   4
                         ÁCIDO VALPRÓICO + VALPROATO DE SÓDIO                          3

[502366 rows x 1 columns]

In [31]:
juncao_1["QTD_VENDIDA"].max()

1440990

In [29]:
idmax = juncao_1["QTD_VENDIDA"].idxmax()
idmax

('RS', 'TUPANCIRETÃ', 'HEMIFUMARATO DE QUETIAPINA')

# Geral
* Principais principios ativos do pais (QTD TOTAL / Principio)
* Faixa etaria dos compradores (20 - 30 - 40..) / medicamento mais comprado
* Estado que mais vende medicamentos 

* Municipios que mais vende medicamentos / estado
* Principais principios ativos por estado
* Faixa etaria dos compradores (20 - 30 - 40..) / medicamento mais comprado