In [1]:
import numpy as np
import pandas as pd

# Geral
* Principios ativos mais vendidos do pais (5 mais vendidos)
* Principios ativos mais vendidos por estado. (5 mais vendidos por estado)
* Principios ativos mais vendidos por faixa etaria. Compradores de 20 a 30, 31 a 40, 41 a 50.. (5 mais vendidos por faixa etária)

# Especificos

* Municipios que mais vende medicamentos em cada estado e quais os medicamentos mais vendidos nesses estados (5 mais vendidos)).
* Principios ativos mais vendidos por faixa etaria nessas municipios. Compradores de 20 a 30, 31 a 40, 41 a 50.. (5 mais vendidos por faixa etária)

In [2]:
farmacos = pd.read_csv("EDA_Industrializados_202110.csv", sep=";", encoding="latin1")

In [3]:
farmacos.head(2)

,ANO_VENDA,MES_VENDA,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,DESCRICAO_APRESENTACAO,QTD_VENDIDA,UNIDADE_MEDIDA,CONSELHO_PRESCRITOR,UF_CONSELHO_PRESCRITOR,TIPO_RECEITUARIO,CID10,SEXO,IDADE,UNIDADE_IDADE
0,2021,10,SP,IGARAÇU DO TIETÊ,CELECOXIBE,200 MG CAP DURA CT BL AL PLAS PVC/PCTFE TRANS ...,14,CAIXA,CRM,SP,1.0,NaN,NaN,NaN,NaN
1,2021,10,SP,IGARAÇU DO TIETÊ,CELECOXIBE,200 MG CAP DURA CT BL AL PLAS PVC/PCTFE TRANS ...,1,CAIXA,CRM,SP,5.0,NaN,1.0,56.0,1.0

In [4]:
farmacos.describe()

,ANO_VENDA,MES_VENDA,QTD_VENDIDA,TIPO_RECEITUARIO,SEXO,IDADE,UNIDADE_IDADE
count,5989708.0,5989708.0,5.989708e+06,5.989708e+06,4.285276e+06,4.285276e+06,4.285276e+06
mean,2021.0,10.0,5.534829e+00,3.624664e+00,1.554298e+00,4.139040e+01,1.016557e+00
std,0.0,0.0,8.941821e+02,1.821485e+00,4.970430e-01,3.785119e+01,1.276041e-01
min,2021.0,10.0,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00
25%,2021.0,10.0,1.000000e+00,1.000000e+00,1.000000e+00,2.500000e+01,1.000000e+00
50%,2021.0,10.0,1.000000e+00,5.000000e+00,2.000000e+00,3.900000e+01,1.000000e+00
75%,2021.0,10.0,3.000000e+00,5.000000e+00,2.000000e+00,5.600000e+01,1.000000e+00
max,2021.0,10.0,1.440897e+06,5.000000e+00,2.000000e+00,9.990000e+02,2.000000e+00

In [4]:
filtro_1 = farmacos.filter(["UF_VENDA", "MUNICIPIO_VENDA", "PRINCIPIO_ATIVO", "QTD_VENDIDA", "IDADE"])

In [6]:
filtro_1.head(5)

  UF_VENDA   MUNICIPIO_VENDA PRINCIPIO_ATIVO  QTD_VENDIDA  IDADE
0       SP  IGARAÇU DO TIETÊ      CELECOXIBE           14    NaN
1       SP  IGARAÇU DO TIETÊ      CELECOXIBE            1   56.0
2       SP  IGARAÇU DO TIETÊ      CELECOXIBE            3    NaN
3       SP  IGARAÇU DO TIETÊ      CELECOXIBE            1    NaN
4       SP  IGARAÇU DO TIETÊ      CELECOXIBE            3    NaN

In [20]:
juncao_1 = filtro_1.groupby(["UF_VENDA", "MUNICIPIO_VENDA", "PRINCIPIO_ATIVO"])["QTD_VENDIDA"].sum()

In [21]:
juncao_1

UF_VENDA  MUNICIPIO_VENDA  PRINCIPIO_ATIVO
AC        ACRELÂNDIA       ALPRAZOLAM                                                                          7
                           AMOXICILINA                                                                        41
                           AMOXICILINA + CLAVULANATO DE POTÁSSIO                                              29
                           AMOXICILINA TRI-HIDRATADA                                                          19
                           AMOXICILINA TRI-HIDRATADA + CLARITROMICINA + ESOMEPRAZOL MAGNÉSICO DI-HIDRATADO     2
                                                                                                              ..
TO        XAMBIOÁ          SUCCINATO DE DESVENLAFAXINA MONOIDRATADO                                            4
                           SULFADIAZINA DE PRATA                                                               1
                           SULFAMETOXAZOL + TRIMETOPRIMA                                                      12
                           TOBRAMICINA                                                                         4
                           ÁCIDO VALPRÓICO + VALPROATO DE SÓDIO                                                3
Name: QTD_VENDIDA, Length: 502366, dtype: int64

In [19]:
juncao_1 = filtro_1.groupby(["UF_VENDA", "MUNICIPIO_VENDA", "PRINCIPIO_ATIVO"]).sum()

In [22]:
juncao_1 = juncao_1.reset_index()

In [23]:
juncao_1

,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,QTD_VENDIDA
0,AC,ACRELÂNDIA,ALPRAZOLAM,7
1,AC,ACRELÂNDIA,AMOXICILINA,41
2,AC,ACRELÂNDIA,AMOXICILINA + CLAVULANATO DE POTÁSSIO,29
3,AC,ACRELÂNDIA,AMOXICILINA TRI-HIDRATADA,19
4,AC,ACRELÂNDIA,AMOXICILINA TRI-HIDRATADA + CLARITROMICINA + E...,2
...,...,...,...,...
502361,TO,XAMBIOÁ,SUCCINATO DE DESVENLAFAXINA MONOIDRATADO,4
502362,TO,XAMBIOÁ,SULFADIAZINA DE PRATA,1
502363,TO,XAMBIOÁ,SULFAMETOXAZOL + TRIMETOPRIMA,12
502364,TO,XAMBIOÁ,TOBRAMICINA,4
502365,TO,XAMBIOÁ,ÁCIDO VALPRÓICO + VALPROATO DE SÓDIO,3

In [24]:
juncao_1["QTD_VENDIDA"].max()

1440990

In [25]:
idmax = juncao_1["QTD_VENDIDA"].idxmax()
juncao_1.loc[idmax]

UF_VENDA                                   RS
MUNICIPIO_VENDA                   TUPANCIRETÃ
PRINCIPIO_ATIVO    HEMIFUMARATO DE QUETIAPINA
QTD_VENDIDA                           1440990
Name: 380757, dtype: object

# Geral
* Principais principios ativos do pais (QTD TOTAL / Principio)
* Faixa etaria dos compradores (20 - 30 - 40..) / medicamento mais comprado
* Estado que mais vende medicamentos 

* Municipios que mais vende medicamentos / estado
* Principais principios ativos por estado
* Faixa etaria dos compradores (20 - 30 - 40..) / medicamento mais comprado

In [26]:
filtro_2 = juncao_1.query("UF_VENDA == 'SP'")

In [27]:
filtro_2

,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,QTD_VENDIDA
420720,SP,ADAMANTINA,ACETATO DE RETINOL + AMINOÁCIDOS + CLORANFENIC...,15
420721,SP,ADAMANTINA,ACETONIDA DE TRIANCINOLONA + GRAMICIDINA + NIS...,1
420722,SP,ADAMANTINA,ADAPALENO + FOSFATO DE CLINDAMICINA,1
420723,SP,ADAMANTINA,AGOMELATINA,1
420724,SP,ADAMANTINA,ALPRAZOLAM,752
...,...,...,...,...
497129,SP,ÓLEO,HIDROCORTISONA + SULFATO DE NEOMICINA + SULFAT...,1
497130,SP,ÓLEO,LEVETIRACETAM,8
497131,SP,ÓLEO,NORFLOXACINO,1
497132,SP,ÓLEO,OXALATO DE ESCITALOPRAM,1
497133,SP,ÓLEO,PREGABALINA,10

In [28]:
soma = filtro_2.groupby(["MUNICIPIO_VENDA", "PRINCIPIO_ATIVO"])["QTD_VENDIDA"].sum()

In [36]:
soma

MUNICIPIO_VENDA  PRINCIPIO_ATIVO
ADAMANTINA       ACETATO DE RETINOL + AMINOÁCIDOS + CLORANFENICOL + METIONINA (11 C)             15
                 ACETONIDA DE TRIANCINOLONA + GRAMICIDINA + NISTATINA + SULFATO DE NEOMICINA      1
                 ADAPALENO + FOSFATO DE CLINDAMICINA                                              1
                 AGOMELATINA                                                                      1
                 ALPRAZOLAM                                                                     752
                                                                                               ...
ÓLEO             HIDROCORTISONA + SULFATO DE NEOMICINA + SULFATO DE POLIMIXINA B                  1
                 LEVETIRACETAM                                                                    8
                 NORFLOXACINO                                                                     1
                 OXALATO DE ESCITALOPRAM                                                          1
                 PREGABALINA                                                                     10
Name: QTD_VENDIDA, Length: 76414, dtype: int64

In [38]:
soma = soma.reset_index()

In [47]:
soma

,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,QTD_VENDIDA
0,ADAMANTINA,ACETATO DE RETINOL + AMINOÁCIDOS + CLORANFENIC...,15
1,ADAMANTINA,ACETONIDA DE TRIANCINOLONA + GRAMICIDINA + NIS...,1
2,ADAMANTINA,ADAPALENO + FOSFATO DE CLINDAMICINA,1
3,ADAMANTINA,AGOMELATINA,1
4,ADAMANTINA,ALPRAZOLAM,752
...,...,...,...
76409,ÓLEO,HIDROCORTISONA + SULFATO DE NEOMICINA + SULFAT...,1
76410,ÓLEO,LEVETIRACETAM,8
76411,ÓLEO,NORFLOXACINO,1
76412,ÓLEO,OXALATO DE ESCITALOPRAM,1
76413,ÓLEO,PREGABALINA,10

In [48]:
soma.groupby(["MUNICIPIO_VENDA", "PRINCIPIO_ATIVO"]).value_counts()

MUNICIPIO_VENDA  PRINCIPIO_ATIVO                                                              QTD_VENDIDA
ADAMANTINA       ACETATO DE RETINOL + AMINOÁCIDOS + CLORANFENICOL + METIONINA (11 C)          15             1
                 ACETONIDA DE TRIANCINOLONA + GRAMICIDINA + NISTATINA + SULFATO DE NEOMICINA  1              1
                 ADAPALENO + FOSFATO DE CLINDAMICINA                                          1              1
                 AGOMELATINA                                                                  1              1
                 ALPRAZOLAM                                                                   752            1
                                                                                                            ..
ÓLEO             HIDROCORTISONA + SULFATO DE NEOMICINA + SULFATO DE POLIMIXINA B              1              1
                 LEVETIRACETAM                                                                8              1
                 NORFLOXACINO                                                                 1              1
                 OXALATO DE ESCITALOPRAM                                                      1              1
                 PREGABALINA                                                                  10             1
Length: 76414, dtype: int64

In [49]:
soma["QTD_VENDIDA"].max()

722170

In [50]:
soma["QTD_VENDIDA"].idxmax()

64605

In [42]:
soma["QTD_VENDIDA"].max()

722170

In [43]:
soma.)

TypeError: reduction operation 'argmax' not allowed for this dtype