In [1]:
import numpy as np
import pandas as pd

# Geral
* Principios ativos mais vendidos do pais (5 mais vendidos)
* Principios ativos mais vendidos por estado. (5 mais vendidos por estado)
* Principios ativos mais vendidos por faixa etaria. Compradores de 20 a 30, 31 a 40, 41 a 50.. (5 mais vendidos por faixa etária)

# Especificos

* Municipios que mais vende medicamentos em cada estado e quais os medicamentos mais vendidos nesses estados (5 mais vendidos)).
* Principios ativos mais vendidos por faixa etaria nessas municipios. Compradores de 20 a 30, 31 a 40, 41 a 50.. (5 mais vendidos por faixa etária)

In [2]:
farmacos = pd.read_csv("EDA_Industrializados_202110.csv", sep=";", encoding="latin1")

In [51]:
farmacos.head(2)

,ANO_VENDA,MES_VENDA,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,DESCRICAO_APRESENTACAO,QTD_VENDIDA,UNIDADE_MEDIDA,CONSELHO_PRESCRITOR,UF_CONSELHO_PRESCRITOR,TIPO_RECEITUARIO,CID10,SEXO,IDADE,UNIDADE_IDADE
0,2021,10,SP,IGARAÇU DO TIETÊ,CELECOXIBE,200 MG CAP DURA CT BL AL PLAS PVC/PCTFE TRANS ...,14,CAIXA,CRM,SP,1.0,NaN,NaN,NaN,NaN
1,2021,10,SP,IGARAÇU DO TIETÊ,CELECOXIBE,200 MG CAP DURA CT BL AL PLAS PVC/PCTFE TRANS ...,1,CAIXA,CRM,SP,5.0,NaN,1.0,56.0,1.0

In [52]:
farmacos.describe()

,ANO_VENDA,MES_VENDA,QTD_VENDIDA,TIPO_RECEITUARIO,SEXO,IDADE,UNIDADE_IDADE
count,5989708.0,5989708.0,5.989708e+06,5.989708e+06,4.285276e+06,4.285276e+06,4.285276e+06
mean,2021.0,10.0,5.534829e+00,3.624664e+00,1.554298e+00,4.139040e+01,1.016557e+00
std,0.0,0.0,8.941821e+02,1.821485e+00,4.970430e-01,3.785119e+01,1.276041e-01
min,2021.0,10.0,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00
25%,2021.0,10.0,1.000000e+00,1.000000e+00,1.000000e+00,2.500000e+01,1.000000e+00
50%,2021.0,10.0,1.000000e+00,5.000000e+00,2.000000e+00,3.900000e+01,1.000000e+00
75%,2021.0,10.0,3.000000e+00,5.000000e+00,2.000000e+00,5.600000e+01,1.000000e+00
max,2021.0,10.0,1.440897e+06,5.000000e+00,2.000000e+00,9.990000e+02,2.000000e+00

In [55]:
df = farmacos.filter(["UF_VENDA", "MUNICIPIO_VENDA", "PRINCIPIO_ATIVO", "QTD_VENDIDA", "IDADE"])

In [56]:
df.head(5)

  UF_VENDA   MUNICIPIO_VENDA PRINCIPIO_ATIVO  QTD_VENDIDA  IDADE
0       SP  IGARAÇU DO TIETÊ      CELECOXIBE           14    NaN
1       SP  IGARAÇU DO TIETÊ      CELECOXIBE            1   56.0
2       SP  IGARAÇU DO TIETÊ      CELECOXIBE            3    NaN
3       SP  IGARAÇU DO TIETÊ      CELECOXIBE            1    NaN
4       SP  IGARAÇU DO TIETÊ      CELECOXIBE            3    NaN

In [78]:
qtd_vendida_idade = df.groupby(["UF_VENDA", "MUNICIPIO_VENDA", "PRINCIPIO_ATIVO", "IDADE"])["QTD_VENDIDA"].sum()

In [59]:
qtd_vendida_idade

UF_VENDA  MUNICIPIO_VENDA  PRINCIPIO_ATIVO                IDADE
AC        ACRELÂNDIA       AMOXICILINA                    2.0      3
                                                          5.0      1
                                                          8.0      3
                                                          9.0      1
                                                          15.0     1
                                                                  ..
TO        XAMBIOÁ          SULFAMETOXAZOL + TRIMETOPRIMA  51.0     1
                                                          56.0     1
                                                          90.0     1
                           TOBRAMICINA                    36.0     2
                                                          45.0     2
Name: QTD_VENDIDA, Length: 2254192, dtype: int64

In [79]:
qtd_vendida_idade = qtd_vendida_idade.reset_index()

In [80]:
qtd_vendida_idade

,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,IDADE,QTD_VENDIDA
0,AC,ACRELÂNDIA,AMOXICILINA,2.0,3
1,AC,ACRELÂNDIA,AMOXICILINA,5.0,1
2,AC,ACRELÂNDIA,AMOXICILINA,8.0,3
3,AC,ACRELÂNDIA,AMOXICILINA,9.0,1
4,AC,ACRELÂNDIA,AMOXICILINA,15.0,1
...,...,...,...,...,...
2254187,TO,XAMBIOÁ,SULFAMETOXAZOL + TRIMETOPRIMA,51.0,1
2254188,TO,XAMBIOÁ,SULFAMETOXAZOL + TRIMETOPRIMA,56.0,1
2254189,TO,XAMBIOÁ,SULFAMETOXAZOL + TRIMETOPRIMA,90.0,1
2254190,TO,XAMBIOÁ,TOBRAMICINA,36.0,2
2254191,TO,XAMBIOÁ,TOBRAMICINA,45.0,2

- 5 medicamentos mais vendidos no pais considerando faixa etaria

In [88]:
maximos_total_idade = qtd_vendida_idade["QTD_VENDIDA"].nlargest(5)
maximos_total_idade

948760     72600
1790690    32026
2185151     3493
2184752     3224
2184753     2846
Name: QTD_VENDIDA, dtype: int64

In [90]:
qtd_vendida_idade.loc[maximos_total_idade.index]

,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,IDADE,QTD_VENDIDA
948760,PE,RECIFE,VALPROATO DE SÓDIO,45.0,72600
1790690,SP,ARARAS,AMOXICILINA TRI-HIDRATADA + CLAVULANATO DE POT...,36.0,32026
2185151,SP,SÃO PAULO,AMOXICILINA TRI-HIDRATADA + CLAVULANATO DE POT...,2.0,3493
2184752,SP,SÃO PAULO,AMOXICILINA TRI-HIDRATADA,2.0,3224
2184753,SP,SÃO PAULO,AMOXICILINA TRI-HIDRATADA,3.0,2846

* 5 Medicamentos mais vendido do pais por região

In [81]:
qtd_vendida = df.groupby(["UF_VENDA", "MUNICIPIO_VENDA", "PRINCIPIO_ATIVO"])["QTD_VENDIDA"].sum()

In [84]:
qtd_vendida = qtd_vendida.reset_index()

In [85]:
qtd_vendida

,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,QTD_VENDIDA
0,AC,ACRELÂNDIA,ALPRAZOLAM,7
1,AC,ACRELÂNDIA,AMOXICILINA,41
2,AC,ACRELÂNDIA,AMOXICILINA + CLAVULANATO DE POTÁSSIO,29
3,AC,ACRELÂNDIA,AMOXICILINA TRI-HIDRATADA,19
4,AC,ACRELÂNDIA,AMOXICILINA TRI-HIDRATADA + CLARITROMICINA + E...,2
...,...,...,...,...
502361,TO,XAMBIOÁ,SUCCINATO DE DESVENLAFAXINA MONOIDRATADO,4
502362,TO,XAMBIOÁ,SULFADIAZINA DE PRATA,1
502363,TO,XAMBIOÁ,SULFAMETOXAZOL + TRIMETOPRIMA,12
502364,TO,XAMBIOÁ,TOBRAMICINA,4
502365,TO,XAMBIOÁ,ÁCIDO VALPRÓICO + VALPROATO DE SÓDIO,3

In [86]:
maximos_total = qtd_vendida["QTD_VENDIDA"].nlargest(5)
maximos_total

380757    1440990
336884     789861
344055     789622
55539      722676
485325     722170
Name: QTD_VENDIDA, dtype: int64

- 5 principios ativos mais vendidos do pais / região

In [87]:
qtd_vendida.loc[maximos_total.index]

,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,QTD_VENDIDA
380757,RS,TUPANCIRETÃ,HEMIFUMARATO DE QUETIAPINA,1440990
336884,RS,BAGÉ,CLORIDRATO DE TRAMADOL + PARACETAMOL,789861
344055,RS,CERRO GRANDE,CLORIDRATO DE DULOXETINA,789622
55539,DF,BRASÍLIA,CARBONATO DE LÍTIO,722676
485325,SP,SOROCABA,DECANOATO DE NANDROLONA,722170

In [91]:
qtd_vendida_go = qtd_vendida.query("UF_VENDA == 'GO'")

In [92]:
qtd_vendida_go

,UF_VENDA,MUNICIPIO_VENDA,PRINCIPIO_ATIVO,QTD_VENDIDA
68789,GO,ABADIA DE GOIÁS,ACETATO DE RETINOL + AMINOÁCIDOS + CLORANFENIC...,4
68790,GO,ABADIA DE GOIÁS,ALPRAZOLAM,38
68791,GO,ABADIA DE GOIÁS,AMOXICILINA,47
68792,GO,ABADIA DE GOIÁS,AMOXICILINA + CLAVULANATO DE POTÁSSIO,13
68793,GO,ABADIA DE GOIÁS,AMOXICILINA TRI-HIDRATADA,20
...,...,...,...,...
94145,GO,ÁGUAS LINDAS DE GOIÁS,ÁCIDO FUSÍDICO,1
94146,GO,ÁGUAS LINDAS DE GOIÁS,ÁCIDO FUSÍDICO + FUROATO DE MOMETASONA,1
94147,GO,ÁGUAS LINDAS DE GOIÁS,ÁCIDO FUSÍDICO + VALERATO DE BETAMETASONA,3
94148,GO,ÁGUAS LINDAS DE GOIÁS,ÁCIDO VALPRÓICO,49
94149,GO,ÁGUAS LINDAS DE GOIÁS,ÁCIDO VALPRÓICO + VALPROATO DE SÓDIO,32

In [93]:
maximos_go = qtd_vendida_go["QTD_VENDIDA"].nlargest(5)
maximos_go

78715    25482
78755    16711
78713    16434
78761    15617
78646    13879
Name: QTD_VENDIDA, dtype: int64

In [95]:
qtd_vendida_go.loc[maximos_go.index]

      UF_VENDA MUNICIPIO_VENDA             PRINCIPIO_ATIVO  QTD_VENDIDA
78715       GO         GOIÂNIA   HEMITARTARATO DE ZOLPIDEM        25482
78755       GO         GOIÂNIA     OXALATO DE ESCITALOPRAM        16711
78713       GO         GOIÂNIA  HEMIFUMARATO DE QUETIAPINA        16434
78761       GO         GOIÂNIA                 PREGABALINA        15617
78646       GO         GOIÂNIA    CLORIDRATO DE SERTRALINA        13879

- Indices pra filtrar os estados

In [104]:
qtd_vendida["UF_VENDA"].unique()

array(['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG',
       'MS', 'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 'RO', 'RR',
       'RS', 'SC', 'SE', 'SP', 'TO'], dtype=object)

In [102]:
qtd_vendida.groupby('UF_VENDA').apply(lambda x: x.index.tolist()).reset_index(name='Indices')

   UF_VENDA                                            Indices
0        AC  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
1        AL  [1367, 1368, 1369, 1370, 1371, 1372, 1373, 137...
2        AM  [6959, 6960, 6961, 6962, 6963, 6964, 6965, 696...
3        AP  [8204, 8205, 8206, 8207, 8208, 8209, 8210, 821...
4        BA  [8706, 8707, 8708, 8709, 8710, 8711, 8712, 871...
5        CE  [41026, 41027, 41028, 41029, 41030, 41031, 410...
6        DF  [54951, 54952, 54953, 54954, 54955, 54956, 549...
7        ES  [58836, 58837, 58838, 58839, 58840, 58841, 588...
8        GO  [68789, 68790, 68791, 68792, 68793, 68794, 687...
9        MA  [94150, 94151, 94152, 94153, 94154, 94155, 941...
10       MG  [105053, 105054, 105055, 105056, 105057, 10505...
11       MS  [192230, 192231, 192232, 192233, 192234, 19223...
12       MT  [200274, 200275, 200276, 200277, 200278, 20027...
13       PA  [212701, 212702, 212703, 212704, 212705, 21270...
14       PB  [220288, 220289, 220290, 220291, 220292, 22029...
15       PE  [236747, 236748, 236749, 236750, 236751, 23675...
16       PI  [254435, 254436, 254437, 254438, 254439, 25444...
17       PR  [260279, 260280, 260281, 260282, 260283, 26028...
18       RJ  [299823, 299824, 299825, 299826, 299827, 29982...
19       RN  [314034, 314035, 314036, 314037, 314038, 31403...
20       RO  [327896, 327897, 327898, 327899, 327900, 32790...
21       RR  [333196, 333197, 333198, 333199, 333200, 33320...
22       RS  [333930, 333931, 333932, 333933, 333934, 33393...
23       SC  [383392, 383393, 383394, 383395, 383396, 38339...
24       SE  [414943, 414944, 414945, 414946, 414947, 41494...
25       SP  [420720, 420721, 420722, 420723, 420724, 42072...
26       TO  [497134, 497135, 497136, 497137, 497138, 49713...

In [154]:
resultados = []

In [156]:
for estado in qtd_vendida["UF_VENDA"].unique():
    df_estado = qtd_vendida[qtd_vendida["UF_VENDA"] == estado]
    maximos = df_estado["QTD_VENDIDA"].nlargest(5)
    maximos = df_estado.loc[maximos.index]
    resultados.append({"Estado": estado, "Indices" : maximos})

In [157]:
resultados

[{'Estado': 'AC',
  'Indices':     UF_VENDA MUNICIPIO_VENDA             PRINCIPIO_ATIVO  QTD_VENDIDA
  801       AC      RIO BRANCO                  CLONAZEPAM         2413
  891       AC      RIO BRANCO   HEMITARTARATO DE ZOLPIDEM         1489
  788       AC      RIO BRANCO     CEFALEXINA MONOIDRATADA         1475
  843       AC      RIO BRANCO    CLORIDRATO DE SERTRALINA         1375
  889       AC      RIO BRANCO  HEMIFUMARATO DE QUETIAPINA         1214},
 {'Estado': 'AL',
  'Indices':      UF_VENDA MUNICIPIO_VENDA              PRINCIPIO_ATIVO  QTD_VENDIDA
  3522       AL          MACEIÓ                   CLONAZEPAM         8000
  3624       AL          MACEIÓ   HEMIFUMARATO DE QUETIAPINA         4876
  3626       AL          MACEIÓ    HEMITARTARATO DE ZOLPIDEM         4569
  3661       AL          MACEIÓ      OXALATO DE ESCITALOPRAM         4522
  3528       AL          MACEIÓ  CLORIDRATO DE AMITRIPTILINA         4474},
 {'Estado': 'AM',
  'Indices':      UF_VENDA MUNICIPIO_VENDA            PRINCIPIO_ATIVO  QTD_VENDIDA
  7658       AM          MANAUS    CEFALEXINA MONOIDRATADA         5723
  7673       AM          MANAUS                 CLONAZEPAM         5212
  7657       AM          MANAUS                 CEFALEXINA         3578
  7637       AM          MANAUS  AZITROMICINA DI-HIDRATADA         3530
  7619       AM          MANAUS  AMOXICILINA TRI-HIDRATADA         3253},
 {'Estado': 'AP',
  'Indices':      UF_VENDA MUNICIPIO_VENDA  \
  8372       AP          MACAPÁ
  8353       AP          MACAPÁ
  8525       AP          MACAPÁ
  8332       AP          MACAPÁ
  8443       AP          MACAPÁ

                                          PRINCIPIO_ATIVO  QTD_VENDIDA
  8372                            CEFALEXINA MONOIDRATADA         2220
  8353                          AZITROMICINA DI-HIDRATADA         2133
  8525                      SULFAMETOXAZOL + TRIMETOPRIMA         1489
  8332                                        AMOXICILINA         1416
  8443  DEXAMETASONA + SULFATO DE NEOMICINA + SULFATO ...         1373  },
 {'Estado': 'BA',
  'Indices':       UF_VENDA MUNICIPIO_VENDA                   PRINCIPIO_ATIVO  QTD_VENDIDA
  34138       BA        SALVADOR                        CLONAZEPAM        18405
  34253       BA        SALVADOR         HEMITARTARATO DE ZOLPIDEM        15124
  34251       BA        SALVADOR        HEMIFUMARATO DE QUETIAPINA        11074
  34288       BA        SALVADOR           OXALATO DE ESCITALOPRAM        10914
  34241       BA        SALVADOR  FOSFATO DE CODEÍNA + PARACETAMOL        10578},
 {'Estado': 'CE',
  'Indices':       UF_VENDA MUNICIPIO_VENDA             PRINCIPIO_ATIVO  QTD_VENDIDA
  45394       CE       FORTALEZA                  ALPRAZOLAM        23899
  45563       CE       FORTALEZA   HEMITARTARATO DE ZOLPIDEM        19445
  45454       CE       FORTALEZA                  CLONAZEPAM        19242
  45597       CE       FORTALEZA     OXALATO DE ESCITALOPRAM        15325
  45561       CE       FORTALEZA  HEMIFUMARATO DE QUETIAPINA        14034},
 {'Estado': 'DF',
  'Indices':       UF_VENDA MUNICIPIO_VENDA            PRINCIPIO_ATIVO  QTD_VENDIDA
  55539       DF        BRASÍLIA         CARBONATO DE LÍTIO       722676
  55681       DF        BRASÍLIA  HEMITARTARATO DE ZOLPIDEM        23081
  55613       DF        BRASÍLIA   CLORIDRATO DE SERTRALINA        16836
  55717       DF        BRASÍLIA    OXALATO DE ESCITALOPRAM        16304
  55590       DF        BRASÍLIA   CLORIDRATO DE FLUOXETINA        13634},
 {'Estado': 'ES',
  'Indices':       UF_VENDA MUNICIPIO_VENDA            PRINCIPIO_ATIVO  QTD_VENDIDA
  68436       ES         VITÓRIA                 CLONAZEPAM         6572
  68198       ES      VILA VELHA                 CLONAZEPAM         6499
  68381       ES         VITÓRIA                 ALPRAZOLAM         5539
  68142       ES      VILA VELHA                 ALPRAZOLAM         5374
  68542       ES         VITÓRIA  HEMITARTARATO DE ZOLPIDEM         5150},
 {'Estado': 'GO',
  'Indices':       UF_VENDA MUNICIPIO_VENDA             PRINCIPIO_ATIVO  QTD_VENDIDA
  78715       GO         GOIÂNIA   HEMITARTARATO DE ZOLPIDEM        25482
  78755       GO         GOIÂNIA     OXALATO DE ESCITALOPRAM        16711
  78713       GO         GOIÂNIA  HEMIFUMARATO DE QUETIAPINA        16434
  78761       GO         GOIÂNIA                 PREGABALINA        15617
  78646       GO         GOIÂNIA    CLORIDRATO DE SERTRALINA        13879},
 {'Estado': 'MA',
  'Indices':        UF_VENDA MUNICIPIO_VENDA             PRINCIPIO_ATIVO  QTD_VENDIDA
  103342       MA        SÃO LUÍS                  CLONAZEPAM         9468
  103484       MA        SÃO LUÍS     OXALATO DE ESCITALOPRAM         4970
  103449       MA        SÃO LUÍS   HEMITARTARATO DE ZOLPIDEM         4164
  103447       MA        SÃO LUÍS  HEMIFUMARATO DE QUETIAPINA         4091
  103391       MA        SÃO LUÍS    CLORIDRATO DE SERTRALINA         3924},
 {'Estado': 'MG',
  'Indices':        UF_VENDA MUNICIPIO_VENDA             PRINCIPIO_ATIVO  QTD_VENDIDA
  111829       MG  BELO HORIZONTE   HEMITARTARATO DE ZOLPIDEM        27224
  111763       MG  BELO HORIZONTE    CLORIDRATO DE SERTRALINA        25199
  111863       MG  BELO HORIZONTE     OXALATO DE ESCITALOPRAM        21445
  111827       MG  BELO HORIZONTE  HEMIFUMARATO DE QUETIAPINA        19349
  111712       MG  BELO HORIZONTE                  CLONAZEPAM        17049},
 {'Estado': 'MS',
  'Indices':        UF_VENDA MUNICIPIO_VENDA            PRINCIPIO_ATIVO  QTD_VENDIDA
  194270       MS    CAMPO GRANDE  HEMITARTARATO DE ZOLPIDEM         9018
  194203       MS    CAMPO GRANDE   CLORIDRATO DE SERTRALINA         7778
  194315       MS    CAMPO GRANDE    OXALATO DE ESCITALOPRAM         7659
  194089       MS    CAMPO GRANDE                 ALPRAZOLAM         5884
  194153       MS    CAMPO GRANDE                 CLONAZEPAM         5062},
 {'Estado': 'MT',
  'Indices':        UF_VENDA MUNICIPIO_VENDA            PRINCIPIO_ATIVO  QTD_VENDIDA
  203772       MT          CUIABÁ  HEMITARTARATO DE ZOLPIDEM         4771
  203804       MT          CUIABÁ    OXALATO DE ESCITALOPRAM         3628
  203713       MT          CUIABÁ   CLORIDRATO DE SERTRALINA         3560
  203665       MT          CUIABÁ                 CLONAZEPAM         3165
  203603       MT          CUIABÁ                 ALPRAZOLAM         2459},
 {'Estado': 'PA',
  'Indices':        UF_VENDA MUNICIPIO_VENDA            PRINCIPIO_ATIVO  QTD_VENDIDA
  213628       PA           BELÉM  AZITROMICINA DI-HIDRATADA         8245
  213664       PA           BELÉM                 CLONAZEPAM         7544
  213648       PA           BELÉM    CEFALEXINA MONOIDRATADA         7515
  213772       PA           BELÉM  HEMITARTARATO DE ZOLPIDEM         7377
  213608       PA           BELÉM  AMOXICILINA TRI-HIDRATADA         5841},
 {'Estado': 'PB',
  'Indices':        UF_VENDA MUNICIPIO_VENDA             PRINCIPIO_ATIVO  QTD_VENDIDA
  227728       PB     JOÃO PESSOA                  CLONAZEPAM        16628
  227668       PB     JOÃO PESSOA                  ALPRAZOLAM         9427
  227865       PB     JOÃO PESSOA     OXALATO DE ESCITALOPRAM         6981
  227777       PB     JOÃO PESSOA    CLORIDRATO DE SERTRALINA         6775
  227830       PB     JOÃO PESSOA  HEMIFUMARATO DE QUETIAPINA         6278},
 {'Estado': 'PE',
  'Indices':        UF_VENDA MUNICIPIO_VENDA            PRINCIPIO_ATIVO  QTD_VENDIDA
  249474       PE          RECIFE         VALPROATO DE SÓDIO        74417
  249301       PE          RECIFE                 CLONAZEPAM        28510
  249445       PE          RECIFE    OXALATO DE ESCITALOPRAM        13768
  249410       PE          RECIFE  HEMITARTARATO DE ZOLPIDEM        13700
  249241       PE          RECIFE                 ALPRAZOLAM        13519},
 {'Estado': 'PI',
  'Indices':        UF_VENDA MUNICIPIO_VENDA             PRINCIPIO_ATIVO  QTD_VENDIDA
  259843       PI        TERESINA     OXALATO DE ESCITALOPRAM         5692
  259705       PI        TERESINA                  CLONAZEPAM         5006
  259807       PI        TERESINA  HEMIFUMARATO DE QUETIAPINA         4025
  259753       PI        TERESINA    CLORIDRATO DE SERTRALINA         4016
  259809       PI        TERESINA   HEMITARTARATO DE ZOLPIDEM         3893},
 {'Estado': 'PR',
  'Indices':        UF_VENDA MUNICIPIO_VENDA             PRINCIPIO_ATIVO  QTD_VENDIDA
  270112       PR        CURITIBA   HEMITARTARATO DE ZOLPIDEM        28323
  270047       PR        CURITIBA    CLORIDRATO DE SERTRALINA        24855
  270149       PR        CURITIBA     OXALATO DE ESCITALOPRAM        19963
  269996       PR        CURITIBA                  CLONAZEPAM        18826
  270110       PR        CURITIBA  HEMIFUMARATO DE QUETIAPINA        15799},
 {'Estado': 'RJ',
  'Indices':        UF_VENDA MUNICIPIO_VENDA             PRINCIPIO_ATIVO  QTD_VENDIDA
  310392       RJ  RIO DE JANEIRO                  CLONAZEPAM        72229
  310323       RJ  RIO DE JANEIRO                  ALPRAZOLAM        60740
  310512       RJ  RIO DE JANEIRO   HEMITARTARATO DE ZOLPIDEM        41865
  310548       RJ  RIO DE JANEIRO     OXALATO DE ESCITALOPRAM        34204
  310510       RJ  RIO DE JANEIRO  HEMIFUMARATO DE QUETIAPINA        33042},
 {'Estado': 'RN',
  'Indices':        UF_VENDA MUNICIPIO_VENDA             PRINCIPIO_ATIVO  QTD_VENDIDA
  322997       RN     PEDRO VELHO    CLORIDRATO DE FLUOXETINA        29048
  321400       RN           NATAL                  CLONAZEPAM        15265
  321539       RN           NATAL     OXALATO DE ESCITALOPRAM         7919
  321339       RN           NATAL                  ALPRAZOLAM         6830
  321503       RN           NATAL  HEMIFUMARATO DE QUETIAPINA         6813},
 {'Estado': 'RO',
  'Indices':        UF_VENDA MUNICIPIO_VENDA            PRINCIPIO_ATIVO  QTD_VENDIDA
  331608       RO     PORTO VELHO                 CLONAZEPAM         3899
  331706       RO     PORTO VELHO  HEMITARTARATO DE ZOLPIDEM         2484
  331594       RO     PORTO VELHO    CEFALEXINA MONOIDRATADA         2227
  331593       RO     PORTO VELHO                 CEFALEXINA         1912
  331735       RO     PORTO VELHO    OXALATO DE ESCITALOPRAM         1841},
 {'Estado': 'RR',
  'Indices':        UF_VENDA MUNICIPIO_VENDA            PRINCIPIO_ATIVO  QTD_VENDIDA
  333285       RR       BOA VISTA                 CLONAZEPAM         1172
  333270       RR       BOA VISTA                 CEFALEXINA         1152
  333371       RR       BOA VISTA  HEMITARTARATO DE ZOLPIDEM         1068
  333253       RR       BOA VISTA  AZITROMICINA DI-HIDRATADA         1042
  333271       RR       BOA VISTA    CEFALEXINA MONOIDRATADA          958},
 {'Estado': 'RS',
  'Indices':        UF_VENDA        MUNICIPIO_VENDA                       PRINCIPIO_ATIVO  \
  380757       RS            TUPANCIRETÃ            HEMIFUMARATO DE QUETIAPINA
  336884       RS                   BAGÉ  CLORIDRATO DE TRAMADOL + PARACETAMOL
  344055       RS           CERRO GRANDE              CLORIDRATO DE DULOXETINA
  371040       RS  SANTO EXPEDITO DO SUL                            ALPRAZOLAM
  365257       RS           PORTO ALEGRE              CLORIDRATO DE SERTRALINA

          QTD_VENDIDA
  380757      1440990
  336884       789861
  344055       789622
  371040        23014
  365257        20993  },
 {'Estado': 'SC',
  'Indices':        UF_VENDA MUNICIPIO_VENDA             PRINCIPIO_ATIVO  QTD_VENDIDA
  402235       SC     NOVA VENEZA  UNDECILATO DE TESTOSTERONA       635581
  392554       SC   FLORIANÓPOLIS   HEMITARTARATO DE ZOLPIDEM        10745
  398624       SC       JOINVILLE   HEMITARTARATO DE ZOLPIDEM         8856
  392449       SC   FLORIANÓPOLIS                  CLONAZEPAM         8029
  398521       SC       JOINVILLE                  CLONAZEPAM         7940},
 {'Estado': 'SE',
  'Indices':        UF_VENDA MUNICIPIO_VENDA            PRINCIPIO_ATIVO  QTD_VENDIDA
  415109       SE         ARACAJU                 CLONAZEPAM         7087
  415213       SE         ARACAJU  HEMITARTARATO DE ZOLPIDEM         6696
  415252       SE         ARACAJU                PREGABALINA         4857
  415050       SE         ARACAJU                 ALPRAZOLAM         4648
  415247       SE         ARACAJU    OXALATO DE ESCITALOPRAM         4374},
 {'Estado': 'SP',
  'Indices':        UF_VENDA MUNICIPIO_VENDA             PRINCIPIO_ATIVO  QTD_VENDIDA
  485325       SP        SOROCABA     DECANOATO DE NANDROLONA       722170
  488786       SP       SÃO PAULO   HEMITARTARATO DE ZOLPIDEM       118699
  488825       SP       SÃO PAULO     OXALATO DE ESCITALOPRAM        90383
  488784       SP       SÃO PAULO  HEMIFUMARATO DE QUETIAPINA        75073
  488714       SP       SÃO PAULO    CLORIDRATO DE SERTRALINA        72063},
 {'Estado': 'TO',
  'Indices':        UF_VENDA MUNICIPIO_VENDA             PRINCIPIO_ATIVO  QTD_VENDIDA
  500668       TO          PALMAS                 SOMATROPINA         4333
  500620       TO          PALMAS   HEMITARTARATO DE ZOLPIDEM         2151
  500572       TO          PALMAS    CLORIDRATO DE SERTRALINA         1715
  500490       TO          PALMAS   AZITROMICINA DI-HIDRATADA         1668
  500618       TO          PALMAS  HEMIFUMARATO DE QUETIAPINA         1488}]

In [162]:
resultados_2 = []

In [163]:
for estado in qtd_vendida["UF_VENDA"].unique():
    df_estado = qtd_vendida[qtd_vendida["UF_VENDA"] == estado]
    top_5_medicamentos = df_estado.sort_values('QTD_VENDIDA', ascending=False).head(5)
    medicamentos_vendidos = top_5_medicamentos[['PRINCIPIO_ATIVO', 'QTD_VENDIDA']].to_dict('records')
    resultados_2.append({'estado': estado, 'medicamentos': medicamentos_vendidos})

In [165]:
df_resultados_2 = pd.DataFrame(resultados_2)

In [173]:
df_resultados_2

   estado                                       medicamentos
0      AC  [{'PRINCIPIO_ATIVO': 'CLONAZEPAM', 'QTD_VENDID...
1      AL  [{'PRINCIPIO_ATIVO': 'CLONAZEPAM', 'QTD_VENDID...
2      AM  [{'PRINCIPIO_ATIVO': 'CEFALEXINA MONOIDRATADA'...
3      AP  [{'PRINCIPIO_ATIVO': 'CEFALEXINA MONOIDRATADA'...
4      BA  [{'PRINCIPIO_ATIVO': 'CLONAZEPAM', 'QTD_VENDID...
5      CE  [{'PRINCIPIO_ATIVO': 'ALPRAZOLAM', 'QTD_VENDID...
6      DF  [{'PRINCIPIO_ATIVO': 'CARBONATO DE LÍTIO', 'QT...
7      ES  [{'PRINCIPIO_ATIVO': 'CLONAZEPAM', 'QTD_VENDID...
8      GO  [{'PRINCIPIO_ATIVO': 'HEMITARTARATO DE ZOLPIDE...
9      MA  [{'PRINCIPIO_ATIVO': 'CLONAZEPAM', 'QTD_VENDID...
10     MG  [{'PRINCIPIO_ATIVO': 'HEMITARTARATO DE ZOLPIDE...
11     MS  [{'PRINCIPIO_ATIVO': 'HEMITARTARATO DE ZOLPIDE...
12     MT  [{'PRINCIPIO_ATIVO': 'HEMITARTARATO DE ZOLPIDE...
13     PA  [{'PRINCIPIO_ATIVO': 'AZITROMICINA DI-HIDRATAD...
14     PB  [{'PRINCIPIO_ATIVO': 'CLONAZEPAM', 'QTD_VENDID...
15     PE  [{'PRINCIPIO_ATIVO': 'VALPROATO DE SÓDIO', 'QT...
16     PI  [{'PRINCIPIO_ATIVO': 'OXALATO DE ESCITALOPRAM'...
17     PR  [{'PRINCIPIO_ATIVO': 'HEMITARTARATO DE ZOLPIDE...
18     RJ  [{'PRINCIPIO_ATIVO': 'CLONAZEPAM', 'QTD_VENDID...
19     RN  [{'PRINCIPIO_ATIVO': 'CLORIDRATO DE FLUOXETINA...
20     RO  [{'PRINCIPIO_ATIVO': 'CLONAZEPAM', 'QTD_VENDID...
21     RR  [{'PRINCIPIO_ATIVO': 'CLONAZEPAM', 'QTD_VENDID...
22     RS  [{'PRINCIPIO_ATIVO': 'HEMIFUMARATO DE QUETIAPI...
23     SC  [{'PRINCIPIO_ATIVO': 'UNDECILATO DE TESTOSTERO...
24     SE  [{'PRINCIPIO_ATIVO': 'CLONAZEPAM', 'QTD_VENDID...
25     SP  [{'PRINCIPIO_ATIVO': 'DECANOATO DE NANDROLONA'...
26     TO  [{'PRINCIPIO_ATIVO': 'SOMATROPINA', 'QTD_VENDI...

In [174]:
resultado_sp = df_resultados_2.loc[df_resultados_2["estado"] == "SP"]

In [178]:
resultado_sp["medicamentos"].tolist()

[[{'PRINCIPIO_ATIVO': 'DECANOATO DE NANDROLONA', 'QTD_VENDIDA': 722170},
  {'PRINCIPIO_ATIVO': 'HEMITARTARATO DE ZOLPIDEM', 'QTD_VENDIDA': 118699},
  {'PRINCIPIO_ATIVO': 'OXALATO DE ESCITALOPRAM', 'QTD_VENDIDA': 90383},
  {'PRINCIPIO_ATIVO': 'HEMIFUMARATO DE QUETIAPINA', 'QTD_VENDIDA': 75073},
  {'PRINCIPIO_ATIVO': 'CLORIDRATO DE SERTRALINA', 'QTD_VENDIDA': 72063}]]